/* NORMALIZE */
/* NORMALIZE */
/* NORMALIZE */

@font-face {
    font-family: "SFPRO";
    src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"),
        url("../fonts/SFProDisplay-Medium.woff") format("woff");
}

* {
    font-family: "SFPRO", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.flexable {
    display: flex;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

/* IPHONE XR */
/* IPHONE XR */
/* IPHONE XR */

.iphoneXr {
    position: relative;
    z-index: 1;
    top: 10%;
    margin: 40px auto;
    width: 360px;
    height: 780px;
    background-image: url(../img/iphone-xr-wallpaper-2.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;
}


.iphoneXr .topPanel {
    border-radius: 40px 40px 0 0;
}

.iphoneXr .topPanel .time {
    color: #fff;
    width: 25%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    margin-top: auto;
    margin-left: 5px;
}

.iphoneXr .topPanel .battery {
    color: #fff;
    width: 25%;
    margin-top: auto;
}

.iphoneXr .topPanel .topIsland {
    justify-content: center;
    width: 50%;
    height: 30px;
    background-color: #1f1f1f;
    border-radius: 0px 0px 40px 40px;
}

.iphoneXr .topPanel .topIsland .speaker {
    margin-top: 5px;
    margin-left: 20px;
    height: 10px;
    width: 30%;
    background-color: #101010;
    border-radius: 10px;
    box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
}

.iphoneXr .topPanel .topIsland .camera {
    margin-top: 5px;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    background-color: #101010;
    border-radius: 10px;
    box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);
}

.iphoneXr .topPanel .signalImg,
.wifilImg {
    margin-top: 5px;
    margin-right: 4px;
    height: 20px;
}

.iphoneXr .topPanel .batImg {
    margin-top: 3px;
    height: 24px;
}

/* MAIN SCREEN */
/* MAIN SCREEN */
/* MAIN SCREEN */

.screen {
    height: 750px;
    position: relative;
    z-index: 500;
    background-image: url(../img/iphone-xr-wallpaper-2.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 35px 35px;
}

.screen .workingSpace {
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
    width: 100%;
    height: 650px;
}

.screen .workingSpace .appCard .appImg {
    width: 60px;
    height: 60px;
    margin: 20px 15px 5px 15px;
    border-radius: 12px;
}

.screen .workingSpace .appCard .appName {
    color: #fff;
}

.screen .workingSpace .appCard a .settings {
    background-image: url(../img/settings.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.screen .workingSpace .appCard a .slack {
    background-color: #fff;
    background-image: url(../img/slack.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
}

.screen .workingSpace .appCard a .github {
    background-image: url(../img/github.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
}

.screen .workingSpace .appCard .toDoList {
    background-color: #fff;
    background-image: url(../img/list.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 75%;
}

.screen .mainBtns {
    justify-content: space-between;
    width: 340px;
    height: 90px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    margin-left: auto;
    margin-right: auto;
}

.screen .mainBtns .application {
    width: 60px;
    height: 60px;
    margin: 15px 10px;
    border-radius: 12px;
}

.screen .mainBtns .safari {
    background-image: url(../img/safari.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    background-color: #fff;
}

.screen .mainBtns .appstore {
    background-image: url(../img/app-store.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.screen .mainBtns .messages {
    background-image: url(../img/messages.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
}

.screen .mainBtns .map {
    background-image: url(../img/apple.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* TO DO SCREEN */
/* TO DO SCREEN */
/* TO DO SCREEN */

.toDoScreen {
    flex-direction: column;
    position: relative;
    z-index: 200;
    bottom: 750px;
    width: 360px;
    height: 750px;
    background-color: #fff;
    border-radius: 0 0 40px 40px;
}

.toDoScreen h1 {
    text-align: left;
    font-size: 28px;
    color: #000000;
    width: 360px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.toDoScreen .toDoArr {
    flex-direction: column;
}

.toDoScreen .toDoArr .toDoInput {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 46px;
    border: 3px solid #fff;
    border-radius: 10px;
    background-color: #E2EEDE;
}

.toDoScreen .toDoArr .toDoInput .taskNameInput {
    width: 86%;
    padding-left: 10px;
    margin-left: 10px;
    font-size: 18px;
    border: none;
    background-color: #E2EEDE;
    outline: none;
}

.toDoScreen .toDoArr .toDoInput .createBtn {
    width: 30px;
    height: 30px;
    background-color: #abcea1;
    color: #000;
    font-size: 24px;
    line-height: 100%;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.toDoScreen .navigation {
    width: 100%;
    height: 70px;
    justify-content: space-between;
    background-color: #E2EEDE;
    border-top: 3px solid #fff;
    border-radius: 0 0 40px 40px;
}

.toDoScreen .navigation .navBtn {
    background-color: #E2EEDE;
    padding: 0 18px;
    height: 40px;
}

.toDoScreen .navigation .navBtn:hover {
    background-color: #abcea1;
}

.toDoScreen .navigation .ClearBtn:hover {
    background-color: #cea1a1;
}

.toDoScreen .toDoArr .listOfTasks {
    height: 570px;
    padding: 10px 20px;
    overflow-y: auto;
}

.toDoScreen .toDoArr .listOfTasks::-webkit-scrollbar {
    width: 0;
}

.toDoScreen .toDoArr .listOfTasks::-webkit-scrollbar-track {
    background: rgba(124, 124, 124, 0.2);
}

.toDoScreen .toDoArr .listOfTasks::-webkit-scrollbar-thumb {
    background-color: rgba(124, 124, 124, 0.5);
    border-radius: 20px;
}

.toDoScreen .toDoArr .startMessage {
    margin-left: 20px;
    margin-top: 10px;
}

.toDoScreen .footer {
    height: 80px;
    padding-top: 10px;
    background-color: #E2EEDE;
    border-radius: 0 0 40px 40px;
}

.toDoScreen .footer .bottom {
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    height: 5px;
    width: 33%;
    background-color: #000000;
    border-radius: 10px;
}

.toDoScreen .toDoArr .listOfTasks .task {
    display: flex;
    flex-wrap: wrap;
    min-height: 50px;
    background-color: #E2EEDE;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid #abcea1;
}

.toDoScreen .toDoArr .listOfTasks .completed {
    background-color: #b8dab1;
}

.toDoScreen .toDoArr .listOfTasks .task p {
    margin-left: 10px;
    width: 270px;
    font-weight: 600;
    font-size: 16px;
}

.toDoScreen .toDoArr .listOfTasks .editInput {
    margin-left: 10px;
    width: 270px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    background-color: #E2EEDE;
    outline: none;
}

.toDoScreen .toDoArr .listOfTasks .task .date {
    width: 80%;
    margin-left: 23px;
    margin-top: 5px;
    font-weight: 600;
    font-size: 14px;
    color: gray;
}

.toDoScreen .toDoArr .listOfTasks .task .cardSet {
    display: flex;
    justify-content: space-between;
    width: 70px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.toDoScreen .toDoArr .listOfTasks .task .cardSet .cardEdit {
    width: 25px;
    height: 25px;
    background-image: url(../img/edit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.toDoScreen .toDoArr .listOfTasks .task .cardSet .cardBin {
    width: 25px;
    height: 25px;
    background-image: url(../img/bin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

/* UPLOAD SCREEN */
/* UPLOAD SCREEN */
/* UPLOAD SCREEN */

.uploadScreen {
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 20;
    bottom: 1500px;
    width: 360px;
    height: 750px;
    background-color: #abcea1;
    border-radius: 0 0 40px 40px;
}

.uploadScreen h2 {
    color: #fff;
    font-size: 48px;
}